{%extends 'index.html'  %}


{%block content%}
<div class="container">
    <div class="row">
    {% if archives%}
      <h3>{{ archives|length }} archives trouvées pour ce terme {{message}}</h3>
    {% else %}
      <h3> 0 archive trouvée pour ce terme {{message}}</h3>
    {% endif %}

    </div>
  <h2 class="text-center">ARCHIVES EXISTANTES</h2><br>

    {% for archive in archives %}

    <h2>{{forloop.counter}}.{{archive.intitulé_archive}}</h2>
    <h3>CODE : {{archive.code_archive}}</h3>
    <p>Date Création: {{archive.date_creation}}</p>
    <p>Date Archivage: {{archive.date_archivage|timesince}}</p>
    <p> Fichier : <a href="{{archive.fichier.url}}"> Ouvrir </a> </p>

    {% empty %}
    <div class="row">
      <h3 class="text-center"> Aucune archive trouvée </h3>
    </div>
    
    
    {% endfor %}

    
</div>
{%endblock%}